
#categoryButton{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 5;
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-font-size: 25px;
    -fx-text-fill: rgba(255, 255, 255, 1)
}
#categoryButton:hover{
-fx-background-color: rgba(255, 255, 255, 0.2);
}

#categoriesButton{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 5;
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-font-size: 20px;
    -fx-text-fill: rgba(255, 255, 255, 1);
}
#categoriesButton:hover{
-fx-background-color: rgba(255, 255, 255, 0.2);
}

#answerButton{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 5;
    -fx-background-color: rgba(255, 255, 255, 0.1);
    -fx-font-size: 25px;
    -fx-text-fill: rgba(255, 255, 255, 1);
}
#answerButton:hover{
-fx-background-color: rgba(255, 255, 255, 0.6);
}

#transparentButton{
    -fx-background-color:transparent;
}
#transparentButton: hover{
    -fx-background-color:rgba(255, 255, 255, 0.2);
}

#translationButton{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 10;
    -fx-background-color: rgba(255, 255, 255, 0.1);
    -fx-font-size: 15px;
    -fx-text-fill: rgba(255, 255, 255, 1);
}
#translationButton:hover{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 10;
    -fx-background-color: rgba(255, 255, 255, 0.1);
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: rgba(255, 255, 255, 1);
}

#categoriesAddButton{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 5;
    -fx-background-color: rgba(255, 255, 255, 0.3);
    -fx-font-size: 15px;
    -fx-text-fill: rgba(255, 255, 255, 1);
}

#categoriesAddedButton{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 5;
    -fx-background-color: rgba(255, 255, 255, 0.5);
    -fx-font-size: 15px;
    -fx-text-fill: rgba(255, 255, 255, 1);
}

#detailButton{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 5;
    -fx-background-color: rgba(255, 132, 116, 0.6);
    -fx-font-size: 15px;
    -fx-text-fill: rgba(255, 255, 255, 1);
}
#detailButton : hover{
    -fx-font-weight: bold;
}

#saveSettingsButton{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 5;
    -fx-background-color: rgba(255, 132, 116, 0.6);
    -fx-font-size: 20px;
    -fx-text-fill: rgba(255, 255, 255, 1);
}
#saveSettingsButton : hover{
    -fx-font-weight: bold;
}

#discardSettingsButton{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 5;
    -fx-background-color: rgba(255, 255, 255, 0.5);
    -fx-font-size: 20px;
    -fx-text-fill: rgba(255, 255, 255, 1);
}
#discardSettingsButton : hover{
    -fx-font-weight: bold;
}


