.chart {
    -fx-background-color: transparent;
}
.chart-content {
}

.chart-title {
  -fx-text-fill: #4682b4;
  -fx-font-size: 1.6em;
}

.axis-label {
  -fx-text-fill: #4682b4;
}

.chart-legend {
   -fx-background-color:  transparent;
}

.chart-legend-item-symbol{
   -fx-background-radius: 0;
}

.chart-legend-item{
    -fx-text-fill: #191970;
}

.chart-plot-background {
    -fx-background-color: transparent;
}
.chart-vertical-grid-lines {
    -fx-stroke: transparent;
}
.chart-horizontal-grid-lines {
    -fx-stroke: rgba(255,255,255, 0.5);
}
.chart-alternative-row-fill {
    -fx-fill: transparent;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}

.chart-series-line {
    -fx-stroke-width: 2px;
    -fx-effect: null;
}

.default-color0.chart-series-line { -fx-stroke: rgba(181, 21, 0, 0.7); }
.default-color1.chart-series-line { -fx-stroke: rgba(255, 111, 0, 1); }

.default-color0.chart-line-symbol { -fx-background-color: transparent, transparent; }
.default-color1.chart-line-symbol { -fx-background-color: transparent, transparent; }